<!doctype html>
<html>
<head>
  <title>Edit-CCSSite</title>
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <!--stylesheets-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/ionicons.min.css">

  	<style>
  		body 		{ padding-top:80px; }
  	</style>
</head>
<body id="home_edit">
    <div class="row">

    <div class="col-md-12">
    <h1>Go on! Edit your details here</h1>
    </div>
    <div class="container">
        <div class = "text-center">
             <form action="/edit" method="post">
                <div class="form-group">

        

                      <div class="question" id="email">
                          <input type="text" name="email" value = "<%=email%>" required/>
                          <label for="email" >Email Address</label>
                      </div>
                      <div class="question" id="pno">
                          <input type="text" name="phone_no" value = "<%=phone%>" required/>
                          <label for="pno">Contact no.</label>
                      </div>

                </div>
                    <button type="submit">Edit Profile</button>
            </form>
        </div>
     </div>
     </div>
</body>
<script>
    function phonenumber(phone)
    {
          var phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
          if((phone.value.match(phoneno))
                  {
                  return true;
                    }
             else
                {
                    alert("Please enter a valid phone number");
                    return false;
                    }
        }
    function ValidateEmail(email)
    {
         if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email.value))
         {
                return (true)
              }
           alert("You have entered an invalid email address!")
            return (false)
        }

</script>
</html>
