<!doctype html>
<html>
<head>
  <title>Edit-CCSSite</title>
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  	<style>
  		body 		{ padding-top:80px; }
  	</style>
</head>
<body>
<h1>Edit Your Details</h1>
<div class="container">
  <div class = "jumbotron text-center">
  <form action="/first-time" method="post">
    <div class="form-group">
	
		<label for="email">Email</label>
		<input type="text" id="email" ><br>
		
		<label for="pno">Phone Number</label>
		<input type="text" id="pno" ><br>
 
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
</body>
</html>
