<!doctype html>
<html>
<head>
  <title>CCSSite</title>
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
            <!--stylesheets-->
    <link rel="stylesheet" href="/stylesheets/reg_style.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/ionicons.min.css">
    
    
  	<style>
  		body 		{ padding-top:120px; }
  	</style>
</head>
<body id="new_form">
<div class="container">
  <div class = "text-center">
  <form action="/first-time" method="post">
    <div class="form-group">
        <div id="email" class="blink">
          <input type="number" class="form_fill" id="inputPhone" autofocus="true" placeholder="Phone no." name="phone_no">
        </div>
        <div id="email">
        <input type="text" class= "form_fill" id= "inputRegNo" placeholder="Registration no." name="reg_no">
        </div>
    </div>

                     <div class="row">
                 <div class="col-md-6">
                     <p>I am ready to register now</p>
                     </div>
                 
                 
                 <div class="col-md-6 left">
                     
                 <button class="anchor_submit" type="submit"> ></button>
                 </div>
                  </div>  
  </form>
</div>
</div>
        
    <script src="/media_js/lib1.js"></script>
    <script src="/stylesheets/style.js"></script>
    
</body>
</html>
