<!doctype html>
<html>
<head>
  <title>CCSSite</title>
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  	<style>
  		body 		{ padding-top:80px; }
  	</style>
</head>
<body>
<div class="container">
  <div class = "jumbotron text-center">
  <form action="/first-time" method="post">
    <div class="form-group">
      <label for="inputPhoneNo">Phone Number</label>
          <input type="number" class="form-control" id="inputPhone" placeholder="PhoneNo" name="phone_no">

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
</body>
</html>
