<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>CCSSite</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css">
    <link rel="font" href="/stylesheets/ionicons.min.css">
</head>
<body>
    
<div id="typeface">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 center">
        <img src="/media/typeface9.png">    
    </div>
    </div>
</div>

 <div id="home_welcome">
        <div class="container">
            <div class="row center">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p>You can surely thank us later <br>for making your day better.</p>
                    <h4>Here is your chance to join us!</h4>
                 
<svg viewBox="0 0 800 600">
  <symbol id="s-text">
    <text text-anchor="middle" x="50%" y="10%" class="text--line center">
      Core Committee 
    </text>
     <text text-anchor="middle" x="50%" y="20%" class="text--line2 center">
      Selections
    </text>
  </symbol>

  <g class="g-ants">
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
  </g>
</svg>
        <div class="login">
		<h3>SignIn or SignUp:</h3>
        <a href="/login/facebook" title="" target="_blank"><i class="ion-social-facebook"></i></a>
        </div>
                 <!--   <h2 class="elegantshadow">Core Committee Selections</h2>  -->
                    
		              <%if(message.length != 0){%>
		              <div class="alert alert-success" role="alert">
                        <p>Bravo! you are on the list.</p>
		              </div>
		              <%}%>

                    </div>
	       </div>
        </div>
</div>
</body>
</html>
