@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);



.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }


body {
    padding-top: 50px;
    font-family: Raleway, Helvetica, Open Sans;
}

a {
  color: #00B7FF;
}

h1{
    font-size: 50px;
    font-weight: 200;
}

a, u, li{
    text-decoration: none;
    list-style-type: none;
}

.section-title{
    text-align: center;
}

#typeface{
    margin-left: 43%;
    margin-top: 40px;
    align-content: center;
    width: 140px;
    height: auto;
    cursor: pointer;
    position: relative;
    z-index: 1000001;
    opacity: 1;

}

.logo{
    width: 180px;
    height: auto;
}

#home_welcome{
    margin-top: 40px;
    font-family: Raleway;
    font-size: 50px;
    text-align: center;
}

.bg-1,
.bg-2 {
  z-index: -10;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1920px;
  height: 100%;
  max-height: 1200px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
}

.bg-1 {
  background-image: url("../images/bg_test1a.png");
  background-color: #202544;
  opacity: 1;
}

.bg-2 {
  background-image: url("../images/bg_test2.png");
  opacity: 0;
}

canvas{
    width: 90%;
    vertical-align: bottom;
}

.login:hover ~ .bg-1{
  opacity: 0;
}

.login:hover ~ .bg-2{
  opacity: 1;
}

/*Core Committee*/

#home_welcome h1{
    font-family: Open Sans;
    color: #f23b66;
    font-size: 45px;
    font-weight: 800;
    margin: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#home_welcome h4{
    color: #a0a0a0;
}

#home_welcome p{
    font-size: 48px;
    color: #fff;
    font-weight: 200;
    margin-top: 20px;
    font-style: oblique;
}

.login h3{
    color: #a0a0a0;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

.fb{
  position: absolute;
  margin-top: 30px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 10px 22px;
  font-family: Raleway, sans-serif;
  font-size: 0.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  -webkit-transition: all .5s;
          transition: all .5s;
}

.fb:hover {
  background: rgba(255, 255, 255, 0.25);
  border-color: #201544;
  color: #f23b66;
  text-decoration: underline;
}


.hidden{
    display: none;
}

.visible{
    display: inherit;
}
/* Header Style */




/*Core Committee*/

/*====Dashboard====*/


#home_profile{
    font-family: Raleway;
    margin-top: -50px;
    text-align: center;
}

.bg_dash {
  z-index: -10;
  background-size: cover;
  position: absolute;
    background-color: #202544;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
}

div.infinite_roll{
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.8;
  background-image: url("../images/bg_scroll.png");
  -webkit-animation: scrollBg 20s linear infinite;
  animation: scrollBg 20s linear infinite;
  background-size: cover;
}
@-webkit-keyframes scrollBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 1080px;
  }
}
@keyframes scrollBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 1080px;
  }
}

.well{
    background-color: rgba(116, 153, 170, 0.5);
    border-radius: 0;
    border: none;
}

.dp{
    z-index: -10;
    opacity: 0;
    width: 180px;
    height: auto;
    padding-left: 0px;
}

.profile_nav{
    color: #d8d8d8;
    font-size: 25px;
    text-align: left;
    padding-top: 10px;
    padding-left: 120px;
    line-height:40px;
}


.dash_field{
    font-family: Open Sans, Raleway;
    color: #202544;
    font-weight: 800;
}

#home_profile a{
    position: relative;
    color: #f23b66;
    font-family: Open Sans, Raleway;
    font-weight: 400;
  text-decoration: none;
}

#home_profile a:hover{
      color: #fff;
}

#home_profile a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #f23b66;
  visibility: hidden;
  -webkit-transform: scaleX(100%);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#home_profile a:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#home_profile h1{
    font-family: Open Sans, Raleway;
    font-weight: 800;
    color: #f23b66;
    text-transform: uppercase;
}


.strike{
    cursor: pointer;
}

.dashboard_nav li{
    font-family: Raleway;
    font-size: 20px;
    color: #a0a0a0;
    display: inline-block;
}

.category_nav li{
    font-size: 40px;
    display: inline-block;
    padding-top: 10px;
    padding-left: 90px;
    padding-right: 90px;
    font-style: oblique;
}


#home_profile.bb {
  z-index: 100;
  width: 255px;
  height: 255px;
  margin: auto;
  color: #69ca62;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
}

#home_profile.bb::before, #home_profile.bb::after {
  content: '';
  z-index: 10;
  margin: 5%;
  box-shadow: inset 0 0 0 2px;
  animation: clipMe 8s linear infinite;
}
#home_profile.bb::before {
  animation-delay:1s;
}
#home_profile.bb:hover::after, #home_profile.bb:hover::before {
  background-color: rgba(255, 255, 255, 0.3);
}

@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 220.0px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 220.0px, 0px);
  }
  50% {
    clip: rect(218.0px, 220.0px, 220.0px, 0px);
  }
  75% {
    clip: rect(0px, 220.0px, 220.0px, 218.0px);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*====Edit info====
#home_edit .jumbotron{
    background: #fff;
}

#home_edit h1{
    font-family: Raleway;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}

#home_edit{
    -webkit-font-smoothing: antialiased;
    border: none;
}

.transition, form button, form .question label, form .question input[type="text"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}


form {
  position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 500px;
  padding: 10px 10px;
  background-color: white;
  box-sizing: border-box;
  margin: 30px 0px;
  left: 25%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

#home_edit form button {
  margin-top: 35px;
  background-color: white;
  border: none;
  line-height: 0;
  font-size: 22px;
  box-sizing: border-box;
  display: inline-block;
  padding: 20px 15px;
  color: #000;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 5;
  opacity: 1;
}

#home_edit a{
    color: #000;
}

#home_edit a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(100%);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#home_edit a:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

form button:hover, form button:focus {
    text-decoration: none;
  color: cadetblue;
  background-color: #fff ;
}
form .question {
  position: relative;
  padding: 10px 0;
}
form .question:first-of-type {
  padding-top: 0;
}
form .question:last-of-type {
  padding-bottom: 0;
}
form .question label {
  color: cadetblue;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 17px;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  pointer-events: none;
}
form .question input[type="text"] {
  appearance: none;
  background-color: none;
  border: none;
  font-size: 17px;
  width: 100%;
  display: block;
  padding: 10px 15px;
  color: cadetblue;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
form .question input[type="text"]:focus {
  background: #fff;
  color: #000;
  margin-top: 30px;
  border-bottom: 1px;
  border-bottom-color: black;
}
form .question input[type="text"]:valid {
  margin-top: 30px;
}
form .question input[type="text"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question input[type="text"]:valid ~ label {
  text-transform: uppercase;
  font-style:oblique;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}
*/
/*Fill form First time*/
#new_form{
    background-color: #202544;
}

.form_fill{
    color: #f23b66;
    border: none;
    font-family: Raleway;
    font-size: 100px;
    font-weight: 600;
    opacity: 0.2;
    height: 150px;
    width: 100%;
}

.form_submit{
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  z-index: 1;
  padding: 10px 22px;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  -webkit-transition: all .5s;
          transition: all .5s;
}

.form_submit:hover {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid #f23b66;
  border-color: #f23b66;
  color: #f23b66;
  text-decoration: underline;
}

/*
.blink{
  animation: blink-empty 2s infinite;
  border-left: transparent solid 1px;
  margin:0 ;
}

@keyframes blink-empty {
  50% {border-left: 12px solid #fff;}
}

.form_fill:active ~ .blink{
    animation: none;
    border-left: none; 
}

#inputPhone:active ~ .blink{
    animation: none;
    border-left: none;
}
*/
input{
    border: none;
}