@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);



body {
    padding-top: 50px;
    font-family: Raleway, Helvetica, Open Sans;
}

a {
  color: #00B7FF;
}

h1{
    font-size: 50px;
    font-weight: 200;
}

a, u, li{
    text-decoration: none;
    list-style-type: none;
}

.section-title{
    text-align: center;
}

#typeface{
    margin-left: 585px;
    margin-top: 40px;
    align-content: center;
    width: 10%;
    height: auto;
    cursor: pointer;
    position: relative;
    z-index: 1000001;
    opacity: 1;
    left: 0;

}

#home_welcome{
    margin-top: 40px;
    font-family: Raleway;
    font-size: 50px;
    text-align: center;
}


/*Core Committee*/

#home_welcome h2{
    font-size: 45px;
    font-weight: 200;
}

#home_welcome p{
        margin-top: 20px;
        font-style: oblique;
}



*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

#
/* Header Style */

#home_welcome .committee{
    padding: 100px;
}

.os-phrases h2 {
	font-size: 70px;
	font-weight: 200;
	width: 100%;
	overflow: hidden;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	letter-spacing: 14px;
	text-align: center;
}

.os-phrases h2,
.os-phrases h2 > span {
	height: 100%;
	/* Centering with flexbox */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;/*rashgold*/

	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.os-phrases h2 > span {
	margin: 0 15px;
}

.os-phrases h2 > span > span {
	display: inline-block;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.os-phrases h2 > span > span > span {
	display: inline-block;
	color: hsla(0,0%,0%,0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-animation: OpeningSequence 5.2s linear forwards;
	-moz-animation: OpeningSequence 5.2s linear forwards;
	animation: OpeningSequence 5.2s linear forwards;
}

.os-phrases h2:nth-child(2) > span > span > span {
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	animation-delay: 5s;
}

.os-phrases h2:nth-child(3) > span > span > span {
	-webkit-animation-delay: 8s;
	-moz-animation-delay: 8s;
	animation-delay: 8s;
}

.os-phrases h2:nth-child(4) > span > span > span {
	-webkit-animation-delay: 12s;
	-moz-animation-delay: 12s;
	animation-delay: 12s;
}

.os-phrases h2:nth-child(5) > span > span > span {
	font-size: 150px;
	-webkit-animation-delay: 18s;
	-moz-animation-delay: 18s;
	animation-delay: 18s;
	-webkit-animation-duration: 8s;
	-moz-animation-duration: 8s;
	animation-duration: 8s;
}

.os-phrases h2:nth-child(6) > span > span > span {
	-webkit-animation-delay: 25s;
	-moz-animation-delay: 25s;
	animation-delay: 25s;
}

.os-phrases h2:nth-child(7) > span > span > span {
	-webkit-animation-delay: 30s;
	-moz-animation-delay: 30s;
	animation-delay: 30s;

}

@-webkit-keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 50px #000;
		letter-spacing: 80px;
		opacity: 0;
		-webkit-transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 1px #000;
		letter-spacing: 14px;
		opacity: 0.5;
		-webkit-transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 1px #000;
		opacity: 0.5;
		-webkit-transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 10px #000;
		opacity: 0;
		-webkit-transform: translateZ(130px);
		pointer-events: none;
	}
}

@-moz-keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 50px #000;
		letter-spacing: 80px;
		opacity: 0.2;
		-moz-transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 1px #000;
		letter-spacing: 14px;
		opacity: 0.6;/*rashgold*/

		-moz-transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 1px #000;
		opacity: 0.6;
		-moz-transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 10px #000;
		opacity: 0;
		-moz-transform: translateZ(130px);
		pointer-events: none;
	}
}

@keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 50px #000;
		letter-spacing: 80px;
		opacity: 0.2;
		transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 1px #000;
		letter-spacing: 14px;
		opacity: 0.5;
		transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 1px #000;
		opacity: 0.5;
		transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 10px #000;
		opacity: 0;
		transform: translateZ(130px);
		pointer-events: none;
	}
}

.os-phrases h2:nth-child(8) > span > span > span {
	font-size: 30px;
	-webkit-animation: FadeIn 4s linear 33s forwards;
	-moz-animation: FadeIn 4s linear 33s forwards;
	animation: FadeIn 4s linear 33s forwards;
}

@-webkit-keyframes FadeIn {
	0% {
		opacity: 0;
		text-shadow: 0 0 50px #000;
	}
	100% {
		opacity: 1;
		text-shadow: 0 0 1px #000;
	}
}

@-moz-keyframes FadeIn {
	0% {
		opacity: 0;
		text-shadow: 0 0 50px #000;
	}
	100% {
		opacity: 1;
		text-shadow: 0 0 1px #000;
	}
}

@keyframes FadeIn {
	0% {
		opacity: 0;
		text-shadow: 0 0 50px #000;
	}
	100% {
		opacity: 0.8;
		text-shadow: 0 0 1px #000;
	}
}

/* Bold words */
.os-phrases h2:first-child .word3,
.os-phrases h2:nth-child(2) .word2,
.os-phrases h2:nth-child(4) .word2 {
	font-weight: 400;
}

/*Core Committee*/

.login .fa-facebook{
    color: #00B7FF;
}

.login .fa-facebook:hover{
    color: #e0e0e0;
}

/*====Dashboard====*/


#home_profile{
    font-family: Raleway;
    margin-top: -50px;
}

.well{
    background-color: #fff;
    border: none;
}

.dp{
    width: 270px;
    height: auto;
    padding-left: -50px;

}

#home_profile a{
  position: relative;
  color: #000;
  text-decoration: none;
}

#home_profile a:hover{
      color: #000;
}

#home_profile a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(100%);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#home_profile a:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.strike{
    cursor: pointer;
}

.dashboard_nav li{
    display: inline-block;
}

.category_nav li{
    font-size: 30px;
    display: inline-block;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    font-style: oblique;
}

.profile_nav{
    font-size: 25px;
    text-align: left;
    padding-top: 20px;
    padding-left: 120px;
    font-style: oblique;
    line-height:40px;
}

#home_welcome .committee{
    padding: 100px;
}

/*====Edit info====*/
#home_edit .jumbotron{
    background: #fff;
}

#home_edit h1{
    font-family: Raleway;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}

#home_edit{
    -webkit-font-smoothing: antialiased;
    border: none;
}

.transition, form button, form .question label, form .question input[type="text"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}


form {
  position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 500px;
  padding: 10px 10px;
  background-color: white;
  box-sizing: border-box;
  margin: 30px 0px;
  left: 25%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

#home_edit form button {
  margin-top: 35px;
  background-color: white;
  border: none;
  line-height: 0;
  font-size: 22px;
  box-sizing: border-box;
  display: inline-block;
  padding: 20px 15px;
  color: #000;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 5;
  opacity: 1;
}

#home_edit a{
    color: #000;
}

#home_edit a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(100%);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#home_edit a:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

form button:hover, form button:focus {
    text-decoration: none;
  color: cadetblue;
  background-color: #fff ;
}
form .question {
  position: relative;
  padding: 10px 0;
}
form .question:first-of-type {
  padding-top: 0;
}
form .question:last-of-type {
  padding-bottom: 0;
}
form .question label {
  color: cadetblue;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 17px;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  pointer-events: none;
}
form .question input[type="text"] {
  appearance: none;
  background-color: none;
  border: none;
  font-size: 17px;
  width: 100%;
  display: block;
  padding: 10px 15px;
  color: cadetblue;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
form .question input[type="text"]:focus {
  background: #fff;
  color: #000;
  margin-top: 30px;
  border-bottom: 1px;
  border-bottom-color: black;
}
form .question input[type="text"]:valid {
  margin-top: 30px;
}
form .question input[type="text"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question input[type="text"]:valid ~ label {
  text-transform: uppercase;
  font-style:oblique;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}
