@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);



.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }


body {
    padding-top: 50px;
    font-family: Raleway, Helvetica, Open Sans;
}

a {
  color: #00B7FF;
}

h1{
    font-size: 50px;
    font-weight: 200;
}

a, u, li{
    text-decoration: none;
    list-style-type: none;
}

.section-title{
    text-align: center;
}

#typeface{
    margin-left: 43%;
    margin-top: 40px;
    align-content: center;
    width: 140px;
    height: auto;
    cursor: pointer;
    position: relative;
    z-index: 1000001;
    opacity: 1;

}

.logo{
    width: 180px;
    height: auto;
}

#home_welcome{
    margin-top: 40px;
    font-family: Raleway;
    font-size: 50px;
    text-align: center;
}

.bg-1,
.bg-2 {
  z-index: -10;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1920px;
  height: 100%;
  max-height: 1200px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
}

.bg-1 {
  background-image: url("../images/ccs_home_bg1.png");
  background-color: #fff;
  opacity: 1;
}

.bg-2 {
  background-image: url("../images/ccs_home_bg2.png");
  opacity: 0;
}

canvas{
    width: 90%;
    vertical-align: bottom;
}

.login:hover ~ .bg-1{
  opacity: 0;
}

.login:hover ~ .bg-2{
  opacity: 1;
}

/*Core Committee*/

#home_welcome h1{
    font-family: Open Sans;
    color: #f23b66;
    font-size: 45px;
    font-weight: 800;
    margin: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#home_welcome h4{
    color: #a0a0a0;
}

#home_welcome p{
    font-size: 48px;
    color: #fff;
    font-weight: 200;
    margin-top: 20px;
    font-style: oblique;
}

.login h3{
    color: #a0a0a0;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #00ceea;
}

.fb{
  position: absolute;
  margin-top: 30px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 10px 22px;
  font-family: Raleway, sans-serif;
  font-size: 0.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  -webkit-transition: all .5s;
          transition: all .5s;
}

.fb:hover {
  background: rgba(255, 255, 255, 0.25);
  border-color: #201544;
  color: #f23b66;
  text-decoration: underline;
}


.hidden{
    display: none;
}

.visible{
    display: inherit;
}





/*Core Committee*/

/*====Dashboard====*/


#home_profile{
    font-family: Raleway;
    margin-top: -50px;
    text-align: center;
}

.bg_dash {
  z-index: -10;
  background-size: cover;
  position: absolute;
    background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
}

div.infinite_roll{
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.7;
  background-image: url("../images/dash_bg_scroll.png");
  -webkit-animation: scrollBg 20s linear infinite;
  animation: scrollBg 20s linear infinite;
  background-size: cover;
}
@-webkit-keyframes scrollBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 1080px;
  }
}
@keyframes scrollBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 1080px;
  }
}

.well{
    background-color: rgba(116, 153, 170, 0.5);
    border-radius: 0;
    border: none;
}

.dp{
    z-index: -10;
    opacity: 1;
    width: 260px;
    height: auto;
    padding-left: 0px;
}

.profile_nav{
    color: #004daa;
    font-size: 25px;
    text-align: left;
    padding-top: 10px;
    padding-left: 120px;
    line-height:40px;
}


.dash_field{
    font-family: Open Sans, Raleway;
    color: #202544;
    font-weight: 800;
}

#home_profile a{
    position: relative;
    color: #f23b66;
    font-family: Open Sans, Raleway;
    font-weight: 400;
  text-decoration: none;
}

#home_profile a:hover{
      color: #00ceea;
}

#home_profile a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #f23b66;
  visibility: hidden;
  -webkit-transform: scaleX(100%);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#home_profile a:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#home_profile h1{
    font-family: Open Sans, Raleway;
    font-weight: 800;
    color: #f23b66;
    text-transform: uppercase;
}

.alert{
    background: transparent;
    font-family: Raleway, Open Sans;
    font-size: 20px;
    color: #202544;
    border: none;
    
}

.strike{
    cursor: pointer;
}

.dashboard_nav li{
    font-family: Raleway;
    font-size: 20px;
    color: #004daa;
    display: inline-block;
}

.category_nav li{
    font-size: 40px;
    display: inline-block;
    padding-top: 10px;
    padding-left: 90px;
    padding-right: 90px;
    font-style: oblique;
}


#home_profile.bb {
  z-index: 100;
  width: 255px;
  height: 255px;
  margin: auto;
  color: #69ca62;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
}

.bb::before,.bb::after {
  content: '';
  z-index: 10;
  margin: 5%;
  box-shadow: inset 0 0 0 2px;
  animation: clipMe 8s linear infinite;
}
.bb::before {
  animation-delay:1s;
}
.bb:hover::after, .bb:hover::before {
  background-color: rgba(255, 255, 255, 0.3);
}

@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 220.0px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 220.0px, 0px);
  }
  50% {
    clip: rect(218.0px, 220.0px, 220.0px, 0px);
  }
  75% {
    clip: rect(0px, 220.0px, 220.0px, 218.0px);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}


/*Fill form*/
#new_form{
    background-color: #202544;
}

.form_fill{
    color: #202544;
    border: none;
    font-family: Raleway;
    font-size: 100px;
    font-weight: 600;
    background-color: rgba(116, 153, 170, 0.5);
    height: 150px;
    width: 100%;
}



/*
.blink{
  animation: blink-empty 2s infinite;
  border-left: transparent solid 1px;
  margin:0 ;
}

@keyframes blink-empty {
  50% {border-left: 12px solid #fff;}
}

.form_fill:active ~ .blink{
    animation: none;
    border-left: none; 
}

#inputPhone:active ~ .blink{
    animation: none;
    border-left: none;
}
*/
input{
    border: none;
    outline: none;
}

input:focus{
    border: none;
    outline: none;
}

/*====Edit info====*/
#home_edit{
    background-color: #202544;
}

#home_edit .form_fill{
    font-size: 70px; 
}

input[type='text']:focus,input[type='number']:focus{
 color: #fff;
 outline:none;
 font-weight: 200;
}

#home_edit p{
    margin-top: 8px;
    color: #f23b66;
    font-family: Raleway, Open Sans;
    font-size: 43px;
    font-weight: 200;
}

#new_form p{
    margin-top: 8px;
    text-align: left;
    color: #f23b66;
    font-family: Raleway, Open Sans;
    font-size: 43px;
    font-weight: 200;
}


.anchor_submit{
    
    color: #f23b66;
    text-align: left;
    background: none;
    background-color: transparent;
    border: none;
    font-size: 50px;
     float: left;
    
}

.anchor_submit:hover{
    color: #fff;
    border: none;
}

.anchor_submit:active{
    color: #a0a0a0;
    border: none;
    outline: 0;
}

button:focus{
    border: none;
    outline: 0;
}

::selection {
  background: #f23b66; /* WebKit/Blink Browsers */
}
::-moz-selection {     
  background: #f23b66; /* Gecko Browsers */
}
